{%extends 'base.html'%}

{% block content %}
{{block.super}}

<!-- Card -->
<div class="card card-cascade wider reverse">

    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/10/26/12/34/fantasy-2890925__340.jpg"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
  
      <!-- Title -->
      <h4 class="card-title"><strong>“There is one thing the photograph must contain, the humanity of the moment.”</strong></h4>
      <!-- social icons-->
      <!-- Linkedin -->
      <a class="px-2 fa-lg li-ic" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
      <!-- Twitter -->
      <a class="px-2 fa-lg tw-ic" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
      <!-- Dribbble -->
      <a class="px-2 fa-lg fb-ic" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
       <!-- Dribbble -->
       <!-- <a class="px-2 fa-lg fb-ic" href="https://dribbble.com/"></a><i class="fab fa-dribbble"></i></a> -->
       <!-- Instagram -->
       <a class="px-2 fa-lg li-ic" href="https://www.linkedin.com/"><i class="fab fa-instagram"></i></a>
        <!-- Github -->
      <a class="px-2 fa-lg li-ic" href="https://www.linkedin.com/"><i class="fab fa-github"></i></a>  
    </div>
  <!--Copyright-->
   <div class="text-center">
      © 2020       
    </div>
    <!--/.Copyright-->
  </div>
  <!-- Card -->
{% endblock %}